.article-container {
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 10px;
}

.article-container img {
  width: 100%;
}

.article-text-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 0 10px;
}

.article-comments-container {
  margin-top: 20px;
  list-style-type: none;
  margin: none;
  padding: none;
}

.comment-card {
  margin-top: 20px;
  width: 50%;
  background-color: #e5e7eb;
  padding: 5px;
  border-radius: 10px;
}
